.flex-container{
    display: flex;
    max-width: 350px;
    border: 1px solid black;
}

.item{
    margin: 5px;
    background-color: crimson;
    font-size: 24px;
    color: white;
    text-align: center;
}

.s-0{
    flex-shrink: 0;
    flex-basis: 100px;
}

.s-1{
    flex-shrink: 1;
}

.s-2{
    flex-shrink: 2;
}

.s-3{
    flex-shrink: 3;
}

.fg-1{
    flex-grow: 1;
}